{% extends "./base.html" %}

{% block profile %}
<div id="portfolio-wrap">
    {% for img_path, its_class in img_list %}
    <!-- portfolio item -->
    <div class="portfolio-item grid {{its_class}}">
        <div class="portfolio">
            <a href={{img_path}} data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
            <img src={{img_path}} alt="" />
            <div class="portfolio-overlay">
                <div class="thumb-info">
                    <h5>{{its_class}}</h5>
                    <i class="icon-plus icon-2x"></i>
                </div>
            </div>
            </a>
        </div>
    </div>
    <!-- end portfolio item -->
    {% endfor %}
</div>
{% endblock profile %}

{% block blog %}
<div class="span4">
    <div class="home-post">
        <div class="post-image">
            <img class="max-img" src={{agenda.img_path}} alt="" />
        </div>
        <div class="post-meta">
            <i class="icon-file icon-2x"></i>
            <span class="date blog-date"> {{agenda.date}} </span>
        </div>
        <div class="entry-content">
            <h5><strong><a href="#">{{agenda.title}}</a></strong></h5>
            <code class="blog-body">
                {{agenda.body}}
            </code>
    </div>
    </div>
</div>
{% endblock blog %}